<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cwvs.test.mapper.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.cwvs.test.bean.Item" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="expect" property="expect" jdbcType="VARCHAR" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="report" property="report" jdbcType="VARCHAR" />
    <result column="repeat_cycle" property="repeatCycle" jdbcType="INTEGER" />
    <result column="repeat_day" property="repeatDay" jdbcType="VARCHAR" />
    <result column="remind_time" property="remindTime" jdbcType="INTEGER" />
    <result column="remind_type" property="remindType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="charger_id" property="chargerId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="INTEGER" />
    <result column="is_send" property="isSend" jdbcType="BIT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="insert_user" property="insertUser" jdbcType="INTEGER" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_id, name, description, type, priority, expect, complete_time, report, 
    repeat_cycle, repeat_day, remind_time, remind_type, status, charger_id, comment, 
    is_send, address, start_time, end_time, insert_user, insert_time, update_user, update_time, 
    task_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cwvs.test.bean.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tm_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tm_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tm_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cwvs.test.bean.ItemExample" >
    delete from tm_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cwvs.test.bean.Item" >
    insert into tm_item (id, project_id, name, 
      description, type, priority, 
      expect, complete_time, report, 
      repeat_cycle, repeat_day, remind_time, 
      remind_type, status, charger_id, 
      comment, is_send, address, 
      start_time, end_time, insert_user, 
      insert_time, update_user, update_time, 
      task_id)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, 
      #{expect,jdbcType=VARCHAR}, #{completeTime,jdbcType=TIMESTAMP}, #{report,jdbcType=VARCHAR}, 
      #{repeatCycle,jdbcType=INTEGER}, #{repeatDay,jdbcType=VARCHAR}, #{remindTime,jdbcType=INTEGER}, 
      #{remindType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{chargerId,jdbcType=INTEGER}, 
      #{comment,jdbcType=INTEGER}, #{isSend,jdbcType=BIT}, #{address,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{insertUser,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{taskId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cwvs.test.bean.Item" >
    insert into tm_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="expect != null" >
        expect,
      </if>
      <if test="completeTime != null" >
        complete_time,
      </if>
      <if test="report != null" >
        report,
      </if>
      <if test="repeatCycle != null" >
        repeat_cycle,
      </if>
      <if test="repeatDay != null" >
        repeat_day,
      </if>
      <if test="remindTime != null" >
        remind_time,
      </if>
      <if test="remindType != null" >
        remind_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="chargerId != null" >
        charger_id,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="isSend != null" >
        is_send,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="insertUser != null" >
        insert_user,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="expect != null" >
        #{expect,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="report != null" >
        #{report,jdbcType=VARCHAR},
      </if>
      <if test="repeatCycle != null" >
        #{repeatCycle,jdbcType=INTEGER},
      </if>
      <if test="repeatDay != null" >
        #{repeatDay,jdbcType=VARCHAR},
      </if>
      <if test="remindTime != null" >
        #{remindTime,jdbcType=INTEGER},
      </if>
      <if test="remindType != null" >
        #{remindType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="chargerId != null" >
        #{chargerId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=INTEGER},
      </if>
      <if test="isSend != null" >
        #{isSend,jdbcType=BIT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUser != null" >
        #{insertUser,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cwvs.test.bean.ItemExample" resultType="java.lang.Integer" >
    select count(*) from tm_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tm_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.priority != null" >
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.expect != null" >
        expect = #{record.expect,jdbcType=VARCHAR},
      </if>
      <if test="record.completeTime != null" >
        complete_time = #{record.completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.report != null" >
        report = #{record.report,jdbcType=VARCHAR},
      </if>
      <if test="record.repeatCycle != null" >
        repeat_cycle = #{record.repeatCycle,jdbcType=INTEGER},
      </if>
      <if test="record.repeatDay != null" >
        repeat_day = #{record.repeatDay,jdbcType=VARCHAR},
      </if>
      <if test="record.remindTime != null" >
        remind_time = #{record.remindTime,jdbcType=INTEGER},
      </if>
      <if test="record.remindType != null" >
        remind_type = #{record.remindType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.chargerId != null" >
        charger_id = #{record.chargerId,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=INTEGER},
      </if>
      <if test="record.isSend != null" >
        is_send = #{record.isSend,jdbcType=BIT},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.insertUser != null" >
        insert_user = #{record.insertUser,jdbcType=INTEGER},
      </if>
      <if test="record.insertTime != null" >
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tm_item
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      priority = #{record.priority,jdbcType=INTEGER},
      expect = #{record.expect,jdbcType=VARCHAR},
      complete_time = #{record.completeTime,jdbcType=TIMESTAMP},
      report = #{record.report,jdbcType=VARCHAR},
      repeat_cycle = #{record.repeatCycle,jdbcType=INTEGER},
      repeat_day = #{record.repeatDay,jdbcType=VARCHAR},
      remind_time = #{record.remindTime,jdbcType=INTEGER},
      remind_type = #{record.remindType,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      charger_id = #{record.chargerId,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=INTEGER},
      is_send = #{record.isSend,jdbcType=BIT},
      address = #{record.address,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      insert_user = #{record.insertUser,jdbcType=INTEGER},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      task_id = #{record.taskId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cwvs.test.bean.Item" >
    update tm_item
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="expect != null" >
        expect = #{expect,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null" >
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="report != null" >
        report = #{report,jdbcType=VARCHAR},
      </if>
      <if test="repeatCycle != null" >
        repeat_cycle = #{repeatCycle,jdbcType=INTEGER},
      </if>
      <if test="repeatDay != null" >
        repeat_day = #{repeatDay,jdbcType=VARCHAR},
      </if>
      <if test="remindTime != null" >
        remind_time = #{remindTime,jdbcType=INTEGER},
      </if>
      <if test="remindType != null" >
        remind_type = #{remindType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="chargerId != null" >
        charger_id = #{chargerId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=INTEGER},
      </if>
      <if test="isSend != null" >
        is_send = #{isSend,jdbcType=BIT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUser != null" >
        insert_user = #{insertUser,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cwvs.test.bean.Item" >
    update tm_item
    set project_id = #{projectId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      expect = #{expect,jdbcType=VARCHAR},
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
      report = #{report,jdbcType=VARCHAR},
      repeat_cycle = #{repeatCycle,jdbcType=INTEGER},
      repeat_day = #{repeatDay,jdbcType=VARCHAR},
      remind_time = #{remindTime,jdbcType=INTEGER},
      remind_type = #{remindType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      charger_id = #{chargerId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      is_send = #{isSend,jdbcType=BIT},
      address = #{address,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      insert_user = #{insertUser,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      task_id = #{taskId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>